.showList {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 450px;
    margin: 10px;
    padding: 15px;
}
.search {
    margin: 15px 0;
    border-radius: 2em;
    border: none;
    padding: 5px 15px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.showList__container{
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.showList__container h2 {
    margin: 30px 0;
    font-size: 40px;
}

