.singleTask {
    /* border: 1px solid red; */
    background-color: beige;
    width: 450px;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 10px ;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.singleTask:hover{
    background: #8d9af5;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.singleTaskText {
    flex: 1;
    font-size: 20px;
    font-family: sans-serif;
}

.icons{
    font-size: 20px;
    margin: auto 5px;
}